
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    /*display: flex;*/
}

/*폰트 정보*/
@font-face {
    font-family: 'SBAggroB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}