<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/map.css">
</head>
<body>
<script src="/js/config.js"></script>
<script type="module" src="/js/map.js"></script>

<div class="container map">
    <div class="map search">
        <p>지도 정보</p>
    </div>
    <div class="map image" id="map">
        <div class="map image panel">
            <p>TEST</p>
        </div>
    </div>
</div>
</body>
</html>